doctype html
html(lang="en")
  head
    title= Title
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #container.container.d-flex
      #chat.border.border-secondary.p-4.m-auto.rounded.b-flex-grow
      // block content
    script(src='/assets/main.js')
