doctype html
html(lang="en")
  head
    title= Title
    script.
      var gon = !{JSON.stringify(gon)};
  body
    .container
      #chat.border.border-secondary.p-4.my-4.rounded
      // block content
    script(src='/assets/main.js')
